<form class="mb-4 d-flex flex-wrap justify-content-between" (ngSubmit)="onSave()" [formGroup]="formGroup">
    <select class="form-select w-auto" aria-label="Default select example" formControlName="priority">
        <option value="high">High</option>
        <option value="medium">Medium</option>
        <option value="low">Low</option>
    </select>
    <input type="text" class="add-input" placeholder="Description" formControlName="description">
    <input type="date" class="add-input" placeholder="Description" formControlName="dueDate">
    <button type="submit" class="add-button" [disabled]="formGroup.invalid">Add Item</button>
</form>
