<header class="container mb-3 mt-4">
  <h1 class="text-center title-todo">Todo List</h1>
</header>
<main class="container">
  <section class="todo-section">
    <app-add-item></app-add-item>
    <ul class="ps-0">
      <li class="header-row">
        <div class="priority-wrapper">
          <label class="mb-2">Priority</label>
          <select class="form-select w-auto" aria-label="Default select example" (change)="onChange($event)">
            <option value="all" selected>All</option>
            <option value="high">High</option>
            <option value="medium">Medium</option>
            <option value="low">Low</option>
          </select>
        </div>
        <div class="desc-wrapper">
          <label class="d-block mb-2">Description</label>
            <input type="text" class="search-input border-0" placeholder="Search" [formControl]="description" (keyup.enter)="filterByDescription()">
            <button type="button" class="search-button" (click)="filterByDescription()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </button>
        </div>
        <span>Due Date</span>
      </li>
      <li *ngFor="let todo of todos; let i = index" class="item row-content">
        <app-todo-item [todo]="todo"></app-todo-item>
      </li>
    </ul>
  </section>
</main>
